.mainHeader {
  grid-area: header;
}

.container {
  grid-area: main;
}

.mainFooter {
  grid-area: footer;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10vh auto 40px;
  grid-template-areas: "header" "main" "footer";
}
