:root {
  --black: #101010;
  --red: #5c0511;
  --orange: #f9AE48;
  --bg-color: #fffdf8;
  --color: #fffbef;
  --logo-font: 'Bilbo Swash Caps', cursive;

  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
